body{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
    background-color: #eee;
}

.tela{
  background-color: white;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 5%;
  font-size: 20px;
}

#totalPorPessoa{
  float: right;
}

#total{
  margin-left: 20%;
}

input{
  width: 100%;
  height: 20px;
  border-radius: 5px;
}

label{
  margin-bottom: 1px;
  padding: 2px;
}

button{
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}